
.ui-user-select(@string){
	-webkit-user-select:@string;
	-moz-user-select:@string;
	-ms-user-select:@string;
	user-select:@string;
}

.position(@top:auto, @right:auto, @bottom:auto, @left:auto){
	top:@top;
	right:@right;
	bottom:@bottom;
	left:@left;
}
.top-left(@top:0, @left:0){
	top:@top;
	left:@left;
}
.appearance(@value){
	-webkit-appearance:@value;
	-moz-appearance:@value;
	-ms-appearance:@value;
	appearance:@value;
}
.user-select(@string){
	-webkit-user-select:@string;
	-moz-user-select:@string;
	-ms-user-select:@string;
	user-select:@string;
}
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding; 
	-webkit-background-clip: padding-box; 
	background-clip:         padding-box; 
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.gradient (@startColor: #eee, @middleColor: #eee, @endColor: white) {
	// background-color: @middleColor;
	// background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	// background: -webkit-linear-gradient(top, @startColor, @endColor);
	// background: -moz-linear-gradient(top, @startColor, @endColor);
	// background: -ms-linear-gradient(top, @startColor, @endColor);
	// background: -o-linear-gradient(top, @startColor, @endColor)

	//background-color: @middleColor; /* Old browsers */
	background: -moz-linear-gradient(top,  @startColor 0%, @middleColor 50%, @endColor 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@startColor), color-stop(50%,@middleColor), color-stop(100%,@endColor)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  @startColor 0%,@middleColor 50%,@endColor 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  @startColor 0%,@middleColor 50%,@endColor 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  @startColor 0%,@middleColor 50%,@endColor 100%); /* IE10+ */
	background: linear-gradient(to bottom,  @startColor 0%,@middleColor 50%,@endColor 100%); /* W3C */



}

.gradient-2(@startColor: #eee, @endColor: white) {
	// background-color: @middleColor;
	// background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	// background: -webkit-linear-gradient(top, @startColor, @endColor);
	// background: -moz-linear-gradient(top, @startColor, @endColor);
	// background: -ms-linear-gradient(top, @startColor, @endColor);
	// background: -o-linear-gradient(top, @startColor, @endColor)

	background: -moz-linear-gradient(top,  @startColor 0%, @endColor 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@startColor), color-stop(100%,@endColor)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  @startColor 0%, @endColor 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  @startColor 0%, @endColor 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  @startColor 0%, @endColor 100%); /* IE10+ */
	background: linear-gradient(to bottom,  @startColor 0%, @endColor 100%); /* W3C */



}

.horizontal-gradient (@startColor: #eee, @endColor: white) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0s, @ease: ease,  @iteration:infinite) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation:    @name @duration @delay @ease;
	-ms-animation:     @name @duration @delay @ease;
	-webkit-animation-iteration-count: @iteration;
	-moz-animation-iteration-count: @iteration;
	-ms-animation-iteration-count: @iteration;
	animation-iteration-count: @iteration;
}

.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}
.transition-delay (@delay) {
	-webkit-transition-delay: @delay;  
	-moz-transition-delay:    @delay;
	-ms-transition-delay:     @delay; 
	-o-transition-delay:      @delay;  

}
.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}
.scale (@factor) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}
.skew (@deg, @deg2) {
	-webkit-transform:       skew(@deg, @deg2);
	-moz-transform: 	 skew(@deg, @deg2);
	-ms-transform: 		 skew(@deg, @deg2);
	-o-transform: 		 skew(@deg, @deg2);
}
.translate (@x, @y:0) {
	-webkit-transform:       translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
}
.perspective (@value) {
	-webkit-perspective:@value;
	-moz-perspective:@value;
	-ms-perspective:@value;
	-o-perspective:@value;
	perspective:@value;
}
.translate3d (@x:0, @y: 0, @z: 0, @p:500) {
	-webkit-transform:      perspective(@p)  translate3d(@x, @y, @z);
	-moz-transform: 	perspective(@p)  translate3d(@x, @y, @z);
	-ms-transform: 		 perspective(@p) translate3d(@x, @y, @z);
	-o-transform: 		 perspective(@p) translate3d(@x, @y, @z);

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

}
.rotateY (@value) {
	-webkit-transform:   rotateY(@value);
	-moz-transform: 	 rotateY(@value);
	-ms-transform: 		 rotateY(@value);
	-o-transform: 		 rotateY(@value);
}
.perspective (@value: 1000) {
	-webkit-perspective: 	@value;
	-moz-perspective: 	@value;
	-ms-perspective: 	@value;
	perspective: 		@value;
}
.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin:    @x @y;
	-ms-transform-origin:     @x @y;
	-o-transform-origin:      @x @y;
}


/*Flexbox */
.display-flex(){
	display:box;
	display:-webkit-box;

	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:flex;


	-webkit-justify-content: center;
	  -moz-justify-content: center;
	  -ms-justify-content: center;
	  justify-content: center; 
}


.box-orient(@args){
	-webkit-box-orient: @args;
	-moz-box-orient: @args;
	-ms-box-orient: @args;
	box-orient: @args;
}

.flex(@args){
	-moz-flex:@args;
	-webkit-flex:@args;
	-ms-flex:@args;
	flex:@args;
}
.flex-flow(@args){
	-moz-flex-flow:@args;
	-webkit-flex-flow:@args;
	-ms-flex-flow:@args;
	flex-flow:@args;
}



// --------------------------------------------------
// Flexbox LESS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// --------------------------------------------------

// Flexbox display
// flex or inline-flex
.flex-display(@display: flex) {
	display: "-webkit-box";
	display: -webkit-box; 
	display: ~"-webkit-@{display}";
	display: ~"-moz-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: ~"-ms-@{display}"; // IE11
	display: @display;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
.flex(@columns: initial) {
  -webkit-box-flex: @columns;  
  -webkit-flex: @columns;
     -moz-flex: @columns;
      -ms-flex: @columns;
          flex: @columns;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
.flex-direction(@direction: row) {
  -webkit-flex-direction: @direction;
     -moz-flex-direction: @direction;
      -ms-flex-direction: @direction;
          flex-direction: @direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
.flex-wrap(@wrap: nowrap) {
  -webkit-flex-wrap: @wrap;
     -moz-flex-wrap: @wrap;
      -ms-flex-wrap: @wrap;
          flex-wrap: @wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
.flex-flow(@flow) {
  -webkit-flex-flow: @flow;
     -moz-flex-flow: @flow;
      -ms-flex-flow: @flow;
          flex-flow: @flow;
}

// Display Order
// - applies to: flex items
// <integer>
.flex-order(@order: 0) {
  -webkit-order: @order;
     -moz-order: @order;
      -ms-order: @order;
          order: @order;
}

// Flex grow factor
// - applies to: flex items
// <number>
.flex-grow(@grow: 0) {
  -webkit-flex-grow: @grow;
     -moz-flex-grow: @grow;
      -ms-flex-grow: @grow;
          flex-grow: @grow;
}

// Flex shr
// - applies to: flex itemsink factor
// <number> 
.flex-shrink(@shrink: 1) {
  -webkit-flex-shrink: @shrink;
     -moz-flex-shrink: @shrink;
      -ms-flex-shrink: @shrink;
          flex-shrink: @shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> 
.flex-basis(@width: auto) {
  -webkit-flex-basis: @width;
     -moz-flex-basis: @width;
      -ms-flex-basis: @width;
          flex-basis: @width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around 
.justify-content(@justify: flex-start) {
  -webkit-justify-content: @justify;
     -moz-justify-content: @justify;
      -ms-justify-content: @justify;
          justify-content: @justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
.align-content(@align: stretch) {
  -webkit-align-content: @align;
     -moz-align-content: @align;
      -ms-align-content: @align;
          align-content: @align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
.align-items(@align: stretch) {
  -webkit-align-items: @align;
     -moz-align-items: @align;
      -ms-align-items: @align;
          align-items: @align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch 
.align-self(@align: auto) {
  -webkit-align-self: @align;
     -moz-align-self: @align;
      -ms-align-self: @align;
          align-self: @align;
}

.input-placeholder-color(@color){
	&::-webkit-input-placeholder{
		color:@color;
	}
	&::-moz-input-placeholder{
		color:@color;
	}
	&::-ms-input-placeholder{
		color:@color;
	}
	&::input-placeholder{
		color:@color;
	}
}


.ui-border-frame-top(@color, @intensity: @ui-element-border-intensity){
	border-top:1px solid lighten(@color,@intensity);
}
.ui-border-frame-left(@color, @intensity){
	border-left:1px solid lighten(@color,@intensity);
}
.ui-border-frame-right(@color, @intensity){
	border-right:1px solid lighten(@color,@intensity);
}
.ui-border-frame-bottom(@color, @intensity){ 
	border-bottom:1px solid lighten(@color,@intensity);
}
.ui-border-frame(@color: #fff, @intensity: @ui-element-border-intensity){
	.ui-border-frame-top(@color, @intensity);
	.ui-border-frame-left(@color, @intensity);
	.ui-border-frame-right(@color, @intensity);
	.ui-border-frame-bottom(@color, @intensity);
}

.ui-button-template(@color-foreground:@ui-element-action-color, @color-background:@ui-element-action-background-color, @display:inline-block, @font-size:@ui-font-size-normal, @height:auto){
	
	position: relative;
	@offset:(@font-size)*.9;
	@icon-offset:-4px;
	@color:@color-foreground;
	display:@display;
	.user-select(none);
	cursor: pointer;
	text-align: center;
	background-color:@color-background;
	color: @color-foreground;
	.ui-border-frame(@color-background, @ui-element-action-border-intensity);

	&:focus{
		.ui-focus();
	}

	font:@ui-font;
	font-size: @font-size;
	line-height: (@height);
	text-decoration: none;
	min-width:(@ui-element-padding*2)+@font-size;
	.ui-button-padding();
	.icon-center{
		display: block;
		font-weight: normal;
	}
	i{
		
		font-size: @font-size;
		//padding-top:@offset-padding/2;
		line-height: 1;
		margin-top: @icon-offset;
		vertical-align: middle;
		//padding-right: @ui-element-padding/2;
	}

	&.icon-right{
		span+i{
			padding-right: 0;
			padding-left: @ui-element-padding/2;
		}
	}
	i.fa-stack-2x{
		font-size: @ui-font-size-normal*2;
		line-height: .5;
	}

	&.loading{
		color:rgba(255,255,255,0) !important;
		background-color:@color-foreground !important;
	}
	&.block{
		display: block;
	}
	&.small{
		&, 
		& i{ 
			font-size: (@ui-font-size-small)-1;
		}
		padding:@ui-element-padding/2;
		padding-left:@ui-element-padding;
		padding-right:@ui-element-padding;
	}
	&.large{
		&,
		& i{
			font-size: @ui-font-size-normal;
		}
		padding:@ui-element-padding*2;
	}


	&.active{
		i.icon-angle-down:before{
			content:'\F106' ;
		}
	}

	&.disabled{
		opacity: .5;
		pointer-events:none;
		curser:default; 
	}

	&:hover{
		.ui-button-hover(@color-foreground,@color-background);
	}
	&:active{
		outline:0 none;
		.ui-button-hover(@color-foreground,@color-background);
	}

	&.active{
		background-color:darken(@color-background,10%);
		.ui-border-frame(darken(@color-background,10%), @ui-element-action-border-intensity);
	}

	&.chromeless{
		border-color:transparent;
		background:transparent;
		color:contrast(@color-background, @color-background, #000, 90%);
		&:hover{
			color: darken(@color-background,30%);
		}
		&:active{
			color: darken(@color-background,40%);
		} 
	}


	&.outline{
		border-color:transparent;
		background:transparent;
		border:1px solid @color-background;
		color:contrast(@color-background, @color-background, #000, 90%);
		&:hover{
			color: darken(@color-background,30%);
			border-color:darken(@color-background,30%);
		}
		&:active{
			color: darken(@color-background,40%);
			border-color:darken(@color-background,40%);
		}
	}


}

.ui-button-hover(@color-foreground,@color-background){
	color:@color-foreground;
	background-color: darken(@color-background,5%);
}
.ui-button-active(@color-foreground,@color-background){
	color:@color-foreground;
	background-color: darken(@color-background,7%);
}

.ui-focus(){
	outline:0 none;
	box-shadow: 0px -@ui-focus-size @ui-focus-color inset;
}

.ui-element-margin(){
	margin-top: @ui-element-padding;
	margin-bottom: @ui-element-padding;
}
.ui-button-padding(){
	padding:@ui-element-padding*2;
	padding-top: @ui-element-padding;
	padding-bottom: @ui-element-padding;
}
.ui-element-padding(){
	padding:@ui-element-padding;
}