@ui-font-size-small:12px;
@ui-font-size-normal:16px;
@ui-font-size-large:24px;
@ui-font-size-xlarge:40px;

@ui-font:normal normal normal @ui-font-size-normal/@ui-font-size-normal 'Helvetica', sans-serif;

@ui-color-primary:#806e9e; 
@ui-color-secondary:#5c67a9;
@ui-color-tertiary:#F18317;

@ui-color-caution:#ece28c;
@ui-color-alert:#f28d56;

@ui-color-light:#f5f5f5;
@ui-color-medium:#e0e0e0;
@ui-color-dark:#333;

@ui-color-ok:#92b934;
@ui-color-good:#92b934;
@ui-color-mediocre:#d0a121;
@ui-color-bad:darken(#dfa58e, 25%);


@ui-focus-color:#806e9e;
@ui-focus-size:1px;
@ui-focus-offset:-1px;

@ui-background-color:#fff;
@ui-color:#666;

@ui-element-background-color:#eee;
@ui-element-color:#666;
@ui-element-placeholder-intensity:30%;
@ui-element-border-intensity:-30%;
@ui-element-border-radius:3px;
@ui-element-padding:10px;

@ui-element-action-background-color:desaturate(lighten(@ui-color-primary,10%),10%);
@ui-element-action-color:contrast(@ui-element-action-background-color, hardlight(@ui-color-primary,#555), #fff, 75%);
@ui-element-action-border-intensity:0%;

@ui-icon-font:"FontAwesome";