@import "../temp/components.less";
.ui{
	position: relative;
	font:@ui-font;
	color:@ui-color;

	*,
	*:before,
	*:after {
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box; }
		
	i{
		font-family:@ui-icon-font;
	}

}