.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: " ";
  font-size: 0; }

@-webkit-keyframes pop-upwards {
  0% {
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12);
    opacity: 0; }

  20% {
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2);
    opacity: 0.7; }

  40% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1; }

  70% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; } }

@keyframes pop-upwards {
  0% {
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12);
    opacity: 0; }

  20% {
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2);
    opacity: 0.7; }

  40% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1; }

  70% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; } }

.medium-toolbar-arrow-under:after, .medium-toolbar-arrow-over:before {
  position: absolute;
  left: 50%;
  display: block;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  content: ""; }

.medium-toolbar-arrow-under:after {
  border-width: 8px 8px 0 8px; }

.medium-toolbar-arrow-over:before {
  top: -8px;
  border-width: 0 8px 8px 8px; }

.medium-editor-toolbar, .medium-editor-anchor-preview {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  visibility: hidden;
  font-size: 16px;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif; }
  .medium-editor-toolbar ul, .medium-editor-anchor-preview ul {
    margin: 0;
    padding: 0; }
  .medium-editor-toolbar li, .medium-editor-anchor-preview li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none; }
    .medium-editor-toolbar li button, .medium-editor-anchor-preview li button {
      display: block;
      margin: 0;
      padding: 15px;
      cursor: pointer;
      font-size: 14px;
      line-height: 1.33;
      text-decoration: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .medium-editor-toolbar li .medium-editor-action-underline, .medium-editor-anchor-preview li .medium-editor-action-underline {
      text-decoration: underline; }
    .medium-editor-toolbar li .medium-editor-action-pre, .medium-editor-anchor-preview li .medium-editor-action-pre {
      padding: 15px 0;
      font-weight: 100;
      font-size: 12px;
      font-family: 'Menlo', monospace; }

.medium-editor-anchor-preview i {
  display: inline-block;
  margin: 5px 5px 5px 10px;
  text-decoration: underline;
  font-style: normal;
  cursor: pointer; }

.medium-editor-toolbar-active, .medium-editor-anchor-preview-active {
  visibility: visible;
  -webkit-animation: pop-upwards 160ms forwards linear;
  -ms-animation: pop-upwards 160ms forwards linear;
  animation: pop-upwards 160ms forwards linear;
  -webkit-transition: top 0.075s ease-out, left 0.075s ease-out;
  transition: top 0.075s ease-out, left 0.075s ease-out; }

.medium-editor-action-bold {
  font-weight: bolder; }

.medium-editor-action-italic {
  font-style: italic; }

.medium-editor-toolbar-form-anchor {
  display: none; }
  .medium-editor-toolbar-form-anchor input, .medium-editor-toolbar-form-anchor a {
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif; }
  .medium-editor-toolbar-form-anchor input {
    margin: 0;
    padding: 6px;
    width: 316px;
    border: none;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .medium-editor-toolbar-form-anchor input:focus {
      outline: 0;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
  .medium-editor-toolbar-form-anchor a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 24px; }

.medium-editor-placeholder {
  position: relative; }
  .medium-editor-placeholder:after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-placeholder);
    font-style: italic; }


/* Button */

.ui.button{
	.ui-element-margin();
	.ui-button-template();
	display: inline-block;
	vertical-align: middle;
	.ui-element-margin();
	
	&.primary{ .ui-button-template(contrast(@ui-color-primary, hardlight(@ui-color-primary,#555), #fff, 75%), @ui-color-primary) }
	&.secondary{ .ui-button-template(contrast(@ui-color-secondary, hardlight(@ui-color-secondary,#555), #fff, 75%), @ui-color-secondary) }
	&.tertiary{ .ui-button-template(contrast(@ui-color-tertiary, hardlight(@ui-color-tertiary,#555), #fff, 75%), @ui-color-tertiary) }
	
	&.caution{ .ui-button-template(contrast(@ui-color-caution, hardlight(@ui-color-caution,#555), #fff, 75%), @ui-color-caution) }
	&.alert{ .ui-button-template(contrast(@ui-color-alert, hardlight(@ui-color-alert,#555), #fff, 75%), @ui-color-alert) }
	
	&.ok{ .ui-button-template(contrast(@ui-color-ok, hardlight(@ui-color-ok,#555), #fff, 75%), @ui-color-ok) }
	&.good{ .ui-button-template(contrast(@ui-color-good, hardlight(@ui-color-good,#555), #fff, 75%), @ui-color-good) }
	&.mediocre{ .ui-button-template(contrast(@ui-color-mediocre, hardlight(@ui-color-mediocre,#555), #fff, 75%), @ui-color-mediocre) }
	&.bad{ .ui-button-template(contrast(@ui-color-bad, hardlight(@ui-color-bad,#555), #fff, 75%), @ui-color-bad) }

	&.light{ .ui-button-template(contrast(@ui-color-light, hardlight(@ui-color-light,#555), #fff, 75%), @ui-color-light) }
	&.medium{ .ui-button-template(contrast(@ui-color-medium, hardlight(@ui-color-medium,#555), #fff, 75%), @ui-color-medium) }
	&.dark{ .ui-button-template(contrast(@ui-color-dark, hardlight(@ui-color-dark,#555), #fff, 75%), @ui-color-dark) }

}

.ui.calendar{

	.ui-element-margin();
	
	.header{
		text-align: center;
		background-color:@ui-element-action-background-color;
		color:@ui-element-action-color;
		.title{
			display: inline-block;
			text-align: center;
			padding:10px;
			color: @ui-element-action-color;
			cursor: pointer;
			&:hover{
				color:@ui-color-primary;
			}
		}
		.previous,
		.next{
			position: absolute;
			top:0px;
			text-align: center;
			padding-top:10px;
			padding-bottom:10px;
			color: @ui-element-action-color;
			cursor: pointer;
			width: 100%/7;
			border-left:1px solid transparent;
			border-right:1px solid transparent;
			&:hover{
				color:@ui-element-action-color;
				background-color:@ui-element-action-background-color;
				border-left:1px solid @ui-element-action-background-color;
				border-right:1px solid @ui-element-action-background-color;
			}
		}
		.previous{
			left:0px;
		}
		.next{
			right:0px;
		}
	}
	.days{
		border:1px solid @ui-element-action-background-color;
		background-color:@ui-element-background-color;
	}
	.week{
		display: table;
		width: 100%;
		position: relative;
		.day-display,
		.previous-month-day,
		.next-month-day,
		.day{
			position: relative;
			display: table-cell;
			text-align: right;
			padding-top: 100%/7;
			border-collapse: collapse;
			color:@ui-element-action-background-color;
			&.today{
				color:@ui-element-action-color;
				background-color:@ui-element-action-background-color;
			}
			.date{
				position: absolute;
				top:50%;
				line-height: 0;
				left:0px;
				right: 0px;
				padding:5px;
				padding-top: 0px;
				padding-bottom: 0px;
				text-align: center;
			}

		}
		.day-display{
			.date{
				text-align: center;
			}
		}
		.clickable{
			cursor: pointer;
			&:hover{
				color:darken(@ui-element-color,10%);
				background-color:darken(@ui-element-background-color,10%);
			}
		}
		.day+.day{
			border-left:1px solid @ui-element-action-background-color;
		}
	}
	.week+.week{
		border-top:1px solid @ui-element-action-background-color;
	}
 
}

/*Checkbox*/
.ui.checkbox{
	cursor: pointer; 
	vertical-align: bottom;
	.ui-element-margin();

	input[type="checkbox"]{
		visibility: hidden;
		position: absolute;
	}
	&:focus{
		.ui-focus();
	}
	label,
	.label{
		display: block;
		position: relative;
		.ui-user-select(none);
		padding:10px;
		padding-left: 30px;
		cursor: pointer; 
		//min-height: 35px;
	}

	input ~ label:after{
		content:'\f00c';
		font-family: FontAwesome; 
		position: absolute;
		top:10px;
		margin-top: -2px;
		left:0px;
		width:20px;
		height: 20px;
		background-color:@ui-element-action-background-color;
		color:@ui-element-action-color;
		.ui-border-frame(@ui-element-action-background-color, @ui-element-action-border-intensity);
		font-size: 0px;
		.transition(~".1s"); 
		text-align: center;
		line-height: 19px;
	}

	input:checked ~ label:after{
		content:'\f00c';
		font-size: @ui-font-size-normal;
	}

	&.no-label{
		display: inline-block;
		label,
		.label{
			padding:0px;
			padding-top:10px;
			padding-bottom:10px;
			width:20px;
			height:40px;
		}
		input ~ label:after{
			top:10px;
			margin:0px;
		}
	}

}

.ui.form{
	&::after{
		content: '';
		display: block;
		clear:both;
	}
	.row{
		clear: both;
		vertical-align:bottom;
		max-width: 100%;
	}
	.row .row{
		margin:0px;
	}

	.row.align-top [class*='col-'],
	.row [class*='col-'].align-top{
		vertical-align: top;
	}
	.row.align-middle [class*='col-'],
	.row [class*='col-'].align-middle{
		vertical-align: middle;
	}
	.row.align-bottom [class*='col-'],
	.row [class*='col-'].align-bottom{
		vertical-align: bottom;
	}
	.row.align-left [class*='col-'],
	.row [class*='col-'].align-left{
		text-align: left;
	}
	.row.align-right [class*='col-'],
	.row [class*='col-'].align-right{
		text-align: right;
	}
	.row.align-center [class*='col-'],
	.row [class*='col-'].align-center{
		text-align: center;
	}

	&.large{


		[class*='col-'] {
			padding-left: 20px;
			box-sizing:border-box;
			display:inline-block;
			vertical-align:bottom;
			//float: left;
		}

		&.collapse [class*='col-'] {
			padding-left: 0px;
		}

		&.clear{
			clear: both;
		}
 
		div[class*='col-']:first-child {
			padding-left: 0px;
		}
		div[class*='col-']:first {
			padding-left: 0px;
		}

		.row,
		.grid {
			width: 100%;
			margin: 0 auto;
			font-size: 0px;
			overflow: hidden;
			box-sizing:border-box;
		}

		.row:after,
		.grid:after { 
			content: "";
			display: table-cell;
			clear: both;
		}

		.grid-pad {
			padding: @ui-element-padding;
		}

		.grid-pad > [class*='col-']:first-of-type:not(.col-1-1) {
			padding-left: 20px;
		}

		.push-right {
			float: right; 
		}

		/* Content Columns */
		.col-12-12, 
		.col-1-1 {
			width: 100%;
			padding-right: 0px;
			padding-left: 0px;
			display:block;
		}
		.col-2-3, .col-8-12 {
			width: 66.66%;
		}

		.col-1-2, .col-6-12 {
			width: 50%;
		}

		.col-1-3, .col-4-12 {
			width: 33.33%;
		}

		.col-1-4, .col-3-12 {
			width: 25%;
		}

		.col-1-5 {
			width: 20%;
		}

		.col-1-6, .col-2-12 {
			width: 16.667%;
		}

		.col-1-7 {
			width: 14.28%;
		}

		.col-1-8 {
			width: 12.5%;
		}

		.col-1-9 {
			width: 11.1%;
		}

		.col-1-10 {
			width: 10%;
		}

		.col-1-11 {
			width: 9.09%;
		}

		.col-1-12 {
			width: 8.33%
		}

		/* Layout Columns */

		.col-11-12 {
			width: 91.66%
		}

		.col-10-12 {
			width: 83.333%;
		}

		.col-9-12 {
			width: 75%;
		}

		.col-5-12 {
			width: 41.66%;
		}

		.col-7-12 {
			width: 58.33%
		}


		.col-1-1+*[class*="col-"],
		.col-12-12+*[class*="col-"]{
			padding-left:0px;
		}
	}

}

/* Input */
.ui.input{
	position: relative; 
	.ui-element-margin();
	input{
		-webkit-appearance: none;
		background-color: @ui-element-background-color;
		color:@ui-element-color;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		box-sizing:border-box;
		display: block;
		width:100%;
		margin:0px;
		.ui-border-frame(@ui-element-background-color);
		.ui-element-padding();
		padding-top:@ui-element-padding - 2;
		padding-bottom:@ui-element-padding - 2;
		line-height:1;
		font:@ui-font;
		&:focus{
			.ui-focus();
		}

		&::-webkit-input-placeholder{ color:lighten(@ui-element-color,@ui-element-placeholder-intensity) }
		&::-moz-input-placeholder{ color:lighten(@ui-element-color,@ui-element-placeholder-intensity) }
		&::-ms-input-placeholder{ color:lighten(@ui-element-color,@ui-element-placeholder-intensity) }
		&::input-placeholder{ color:lighten(@ui-element-color,@ui-element-placeholder-intensity) }

		&::-ms-clear {
		    display: none;
		}
	}
	textarea{
		margin:0px;
		-webkit-appearance: none;
		background-color: @ui-element-background-color;
		color:@ui-element-color;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		box-sizing:border-box;
		display: block;
		width:100%;
		min-height: 100px;
		.ui-border-frame(@ui-element-background-color);
		.ui-element-padding();
		font:@ui-font;
		&:focus{
			.ui-focus();
		}
		resize: vertical;


		&::-webkit-input-placeholder{ color:lighten(@ui-element-color,@ui-element-placeholder-intensity) }
		&::-moz-input-placeholder{ color:lighten(@ui-element-color,@ui-element-placeholder-intensity) }
		&::-ms-input-placeholder{ color:lighten(@ui-element-color,@ui-element-placeholder-intensity) }
		&::input-placeholder{ color:lighten(@ui-element-color,@ui-element-placeholder-intensity) }
	}

	&.icon-left,
	&.icon-right{
		i{
			position: absolute;
			bottom:0px;
			display: inline-block;
			padding:@ui-element-padding;
			padding-top:@ui-element-padding + 2;
			padding-bottom:@ui-element-padding + 2;
			pointer-events:none;
		}
	}
	&.icon-left{
		i{
			left:0px;
		}
		input{
			padding-left: @ui-element-padding*3;
		}
	}
	&.icon-right{
		i{
			right:0px;
		}
		input{
			padding-right: @ui-element-padding*3;
		}
	}

}

body.webkit .ui.input{
	input{
		padding-top:@ui-element-padding - 1;
	}
}

body.msie .ui.input{
	input{
		padding-top:@ui-element-padding + 1;
		padding-bottom:@ui-element-padding - 3;
		line-height:1;
	}
}




.ui.label{
	display: block;
	padding-top: @ui-element-padding;
	padding-bottom: @ui-element-padding;

	.accessory-right{
		float: right;
		margin-top: -10px;

		.ui.button.small{
			margin-top: 5px;
		}
	}
}

.ui.cell>.ui.label{
	padding-bottom: 0px;
}

.ui.list{
	display: block;
	.ui-element-margin();

	.ui.button{
		.ui-button-template(@ui-element-color, @ui-element-background-color);
		display: block;
		margin:0px;
	}
	.ui.button+.ui.button{
		border-top:0px;
	}

	.ui.button.active{
		background-color:darken(@ui-element-background-color,15%);
	}

	&.align-left{
		.ui.button{
			text-align: left;
		}
	}
	&.align-right{
		.ui.button{
			text-align: right;
		}
	}

}

/*Checkbox*/
.ui.radio{
	cursor: pointer; 
	input[type="radio"]{
		visibility: hidden;
		position: absolute;
	}
	&:focus{
		.ui-focus();
	}
	label,
	.label{
		display: block;
		position: relative;
		.ui-user-select(none);
		padding:10px;
		padding-left: 30px;
		cursor: pointer; 
	}

	input ~ label:after{
		content:'\f111';
		font-family: FontAwesome; 
		position: absolute;
		top:10px;
		margin-top: -2px;
		left:0px;
		width:20px;
		height: 20px;
		border-radius: 20px;
		background-color:@ui-element-action-background-color;
		color:@ui-element-action-color;
		.ui-border-frame(@ui-element-action-background-color, @ui-element-action-border-intensity);
		font-size: 0px;
		.transition(~".1s"); 
		text-align: center;
		line-height: 19px;
	}

	input:checked ~ label:after{
		font-size: @ui-font-size-normal;
	}

	&.no-label{
		display: inline-block;
		label,
		.label{
			padding:0px;
			width:20px;
			height: 20px;
		}
		input ~ label:after{
			top:0px;
			margin:0px;
		}
	}

}

.ui.rich-text{
	position: relative;
    .ui-element-margin();
	.edit-region{
		position: relative;
		min-height: 100px;
		.ui-border-frame();
		background-color: @ui-element-background-color;
		padding:@ui-element-padding;
		&:focus{
			.ui-focus();
		}

        p{
            margin-top: 0px;
        }

	}

}



.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: " ";
    font-size: 0;
}

@-webkit-keyframes pop-upwards {
    0% {
        -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -moz-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -ms-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -o-transform: matrix(0.97, 0, 0, 1, 0, 12);
        transform: matrix(0.97, 0, 0, 1, 0, 12);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }

    20% {
        -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -moz-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -ms-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -o-transform: matrix(0.99, 0, 0, 1, 0, 2);
        transform: matrix(0.99, 0, 0, 1, 0, 2);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
    }

    40% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
        -moz-transform: matrix(1, 0, 0, 1, 0, -1);
        -ms-transform: matrix(1, 0, 0, 1, 0, -1);
        -o-transform: matrix(1, 0, 0, 1, 0, -1);
        transform: matrix(1, 0, 0, 1, 0, -1);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    70% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    100% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
}

@-moz-keyframes pop-upwards {
    0% {
        -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -moz-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -ms-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -o-transform: matrix(0.97, 0, 0, 1, 0, 12);
        transform: matrix(0.97, 0, 0, 1, 0, 12);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }

    20% {
        -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -moz-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -ms-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -o-transform: matrix(0.99, 0, 0, 1, 0, 2);
        transform: matrix(0.99, 0, 0, 1, 0, 2);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
    }

    40% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
        -moz-transform: matrix(1, 0, 0, 1, 0, -1);
        -ms-transform: matrix(1, 0, 0, 1, 0, -1);
        -o-transform: matrix(1, 0, 0, 1, 0, -1);
        transform: matrix(1, 0, 0, 1, 0, -1);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    70% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    100% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
}

@-o-keyframes pop-upwards {
    0% {
        -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -moz-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -ms-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -o-transform: matrix(0.97, 0, 0, 1, 0, 12);
        transform: matrix(0.97, 0, 0, 1, 0, 12);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }

    20% {
        -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -moz-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -ms-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -o-transform: matrix(0.99, 0, 0, 1, 0, 2);
        transform: matrix(0.99, 0, 0, 1, 0, 2);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
    }

    40% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
        -moz-transform: matrix(1, 0, 0, 1, 0, -1);
        -ms-transform: matrix(1, 0, 0, 1, 0, -1);
        -o-transform: matrix(1, 0, 0, 1, 0, -1);
        transform: matrix(1, 0, 0, 1, 0, -1);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    70% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    100% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
}

@keyframes pop-upwards {
    0% {
        -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -moz-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -ms-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -o-transform: matrix(0.97, 0, 0, 1, 0, 12);
        transform: matrix(0.97, 0, 0, 1, 0, 12);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }

    20% {
        -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -moz-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -ms-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -o-transform: matrix(0.99, 0, 0, 1, 0, 2);
        transform: matrix(0.99, 0, 0, 1, 0, 2);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
    }

    40% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
        -moz-transform: matrix(1, 0, 0, 1, 0, -1);
        -ms-transform: matrix(1, 0, 0, 1, 0, -1);
        -o-transform: matrix(1, 0, 0, 1, 0, -1);
        transform: matrix(1, 0, 0, 1, 0, -1);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    70% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    100% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
}

.medium-toolbar-arrow-under:after {
    top: 50px;
    border-color: @ui-color-primary transparent transparent transparent;
}

.medium-toolbar-arrow-over:before {
    top: -8px;
    border-color: transparent transparent @ui-color-primary transparent;
}

.medium-editor-toolbar {
    border: 0 none;
    background-color: #242424;
    background-color:@ui-color-primary;
    -webkit-transition: top 0.075s ease-out,left 0.075s ease-out;
    -moz-transition: top 0.075s ease-out,left 0.075s ease-out;
    -o-transition: top 0.075s ease-out,left 0.075s ease-out;
    transition: top 0.075s ease-out,left 0.075s ease-out;
}

.medium-editor-toolbar li button {
    min-width: 50px;
    height: 50px;
    border: 0;
	background-color:@ui-color-primary;
    color: @ui-element-action-color;
}

.medium-editor-toolbar li button:hover {
    .ui-button-hover(@ui-element-action-color,@ui-color-primary);
}

.medium-editor-toolbar li .medium-editor-button-first {
    
}

.medium-editor-toolbar li .medium-editor-button-last {
    
}

.medium-editor-toolbar li .medium-editor-button-active {
    background-color:darken(@ui-color-primary,15%);
}

.medium-editor-toolbar-form-anchor {
    background: #242424;
    color: #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.medium-editor-toolbar-form-anchor input {
    height: 50px;
    background-color:@ui-color-primary;
    color: @ui-element-action-color;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.medium-editor-toolbar-form-anchor a {
    color: #fff;
}

.medium-editor-toolbar-anchor-preview {
    background-color:@ui-color-primary;
    color: @ui-element-action-color;
}

.medium-editor-placeholder:after {
    color: #b3b3b1;
}


.ui.select{
	display: block;
	.ui-element-margin();
	select{
		-webkit-appearance: none;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		margin:0px;
		.ui-button-template(@ui-element-color, @ui-element-background-color);
		.ui-border-frame( @ui-element-background-color,@ui-element-border-intensity);
		.ui-element-padding();
		padding-top: @ui-element-padding;
		padding-bottom: @ui-element-padding ;
		padding-right: @ui-element-padding;
		text-align: left;
		width: 100%; 

		&:focus{
			.ui-focus();
		}
	}
}

body.webkit .ui.select{
	&::after{
		content:'\f107';
		font-family:FontAwesome;
		position: absolute;
		bottom:@ui-element-padding + 1;
		right:@ui-element-padding;
		pointer-events:none;
	}
	select{
		padding-top: @ui-element-padding - 1;
		padding-bottom: @ui-element-padding - 1;
	}
}

body.mozilla .ui.select{
	select{
		padding-top: @ui-element-padding - 3;
		padding-bottom: @ui-element-padding - 3;
	}
}

body.msie .ui.select{
	select{
		padding-top: @ui-element-padding;
		padding-bottom: @ui-element-padding - 4;
	}
}


.ui.slider{
	.ui-element-margin();
	.track{
		overflow: hidden;
		.ui-border-frame(@ui-element-background-color);
		background-color:@ui-element-background-color;
		height: 20px;
		.step{
			height: 20px;
			position: absolute;
			top:0px;
		}
		.step:nth-child(even){
			background-color:saturate(darken(@ui-element-background-color,2.5%), 1%);
		}
	}
	.thumb-container{
		position: relative;
		height: 20px;
		margin-left: 9px;
		margin-right: 9px;

	}
	.thumb{
		.ui-button-template(@ui-element-action-background-color,@ui-element-action-background-color);
		padding:0;
		margin:0;
		border:0 none;
		background-color:@ui-element-action-background-color;
		width:18px;
		height:18px;
		min-width:0;
		position: absolute;
		top:0px;
		left:75%;
		margin-left:-9px;
	}

}

.ui.switch{
	display: block;
	.ui-element-margin();

	.ui.button{
		display: block;
		margin:0px;
	}
	.ui.button+.ui.button{
		border-top-width:0px;
	}

	.ui.button.active{
	//	background-color:darken(@ui-element-action-background-color,15%);
	}

	&.force-horizontal,
	&.horizontal{
		.ui.button{
			//.ui-border-frame(@ui-element-action-background-color);
			border-top-width:1px;
			display: inline-block;
		}
		.ui.button+.ui.button{
			border-top-width:1px;
			//.ui-border-frame(@ui-element-action-background-color);
			border-left:0px;
		}
	}

}

.ui.tabs{
	margin-top:@ui-element-padding;
	@selected-color:@ui-color-primary;
	@selected-background:@ui-color-light;

	.ui-border-frame();
	border-left:0 none;
	border-right:0 none;
	// .label{
	// 	margin:0;
	// 	font-size: @ui-font-size-small;
	// 	text-transform: uppercase;
	// 	color:#000;
	// 	font-weight: bold;
	// }
	.tab-buttons{
		font-size: 0;
		&>.button{
			margin:0;
			padding:@ui-element-padding;
			border:0 none;
			border-top: 3px solid transparent;
			color:lighten(@ui-color,20%);
			background-color: transparent;
		}
		&>.active{
			border-top-color:@ui-element-action-background-color;
			color:@ui-color;
		}
	}

	.tab-content{
		padding-top: @ui-element-padding*2;
		padding-bottom: @ui-element-padding*2;
		&>div{
			display: none;
		}
		&>div.active{
			display: block;
		}
	}

	.items{
		@background:@ui-color-light;
		//.border-frame(@background);
		//.border-frame( desaturate(lighten(@ui-color-primary, 30%),50% ) );
	}
	&>.items>.button{
		line-height: 1;
		font-size: @ui-font-size-small;
		text-align: left;
		margin:0px;
		border-left:0 none;
		border-right:0 none;
		border-top:0 none;
		display: block;
		&:hover{
			color:@selected-color;
			background:desaturate(lighten(@selected-background,50%), 50%);
		}
		&.highlight{
			background:desaturate(lighten(@selected-background,50%), 50%);
		}
		&.active{
			background:@selected-background;
			color:@selected-color;
		}
	}
	&>.items>*:last-child{
		border-bottom: 0 none;
	}
}

.ui.toolbar{

	@background:@ui-color-secondary;

	@foreground:contrast(@background, #000, #fff, 80%);
	@background-dark:contrast(@background, desaturate(darken(@background,40%),20%), desaturate(darken(@background,-50%),40%), 80%);


	width:100%;
	background:@background;
	.ui-border-frame(@background);

	&>.item{
		.ui-border-frame(@background);
		display: block;
		vertical-align: middle;
		margin:0;
		border-left: 0 none;
		border-right: 0 none;
		border-bottom: 0 none;
		padding:0px;
		&.right{ float:none !important; }
		&.left{ float:none !important; }
	}
	&>.item:first-child{
		border:0 none;
	}



	&>.item>*{
		font-size: @ui-font-size-normal;
		margin:0;
		border:0 none;
		display: block;
		background-color:transparent;
		padding:@ui-element-padding;
		input,select{
			border:0 none;
			background-color:transparent;
		}

		//buttoned elements
		&.button,
		&.select select,
		&.checkbox label,
		&.checkbox .label{
			.ui-button-template(@foreground,@background);
		}
		//remove stuff
		&.button,
		&.select select,
		&.input input,
		&.checkbox label,
		&.checkbox .label{
			display: block;
			border:0 none;
		}

		//overrides
		&.select{
			display: table;
			width:100%;
			position: relative;
			padding:0;
			.label,
			label,
			select{
				display: table-cell;
			}
			.label,
			label{
				padding:@ui-element-padding;
				text-transform: uppercase;
				font-size: (@ui-font-size-small)-2;
				white-space: nowrap;
				width:1%;
				font-weight: bold;
				color:@background;
				//background:@background-dark;
				color:@background-dark;
				//text-decoration: underline;
				opacity: 1;
				&:after{
					content: "\f0da";
					font-family: FontAwesome;
					padding-left:4px;
					position: relative;
					top: 0px;
				}
			}
			select{
				width: 100%;
				height: 100%;
				text-align: left;
				padding:@ui-element-padding;
			}
		}
		&.input{
			background:lighten(@background,-10%);
			padding:0;
			i{
				color:@background-dark;
			}
			input{
				color:@foreground;
				background:lighten(@background,-10%);
				&::-webkit-input-placeholder{
					color:@background-dark;
				}
			}
		}
		&.checkbox{
			margin:0;
			padding:0;
			.label,
			label{
				margin:0;
				display: block;
				padding:@ui-element-padding;
				background:transparent;
				&::before{
					color:@background-dark;
				}
			}
		}



	}

	&.medium{
		font-size: 0;
		&>.item{
			display: table-cell;
			display: inline-block;
			border:1px solid #fff;
			.ui-border-frame(@background);
			border-top: 0 none;
			border-right: 0 none;
			border-bottom: 0 none;
			max-width: 300px;
		}
		&>.item:first-child{
			border:0 none;
		}

	}
	&.large{
		&>.item{
			&.right{ float:right !important; }
			&.left{ float:left !important; }
		}
	}

}

.ui.toolbar.micro{

	@background:@ui-color-tertiary;
	@background:@ui-color-primary;
	@background:@ui-color-medium;

	@foreground:contrast(@background, @ui-color, #fff, 80%);
	@background-dark:contrast(@background, desaturate(darken(@background,40%),20%), desaturate(darken(@background,-50%),40%), 80%);


	width:100%;
	background:@background;
	border:0 none;
	padding-left: @ui-element-padding;


	&>.item{
		.ui-border-frame(@background);
		display: block;
		vertical-align: middle;
		margin:0;
		border-left: 0 none;
		border-right: 0 none;
		border-bottom: 0 none;
		padding:0px;
		&.right{ float:none !important; }
		&.left{ float:none !important; }
	}
	&>.item:first-child{
		border:0 none;
	}



	&>.item>*{
		font-size: @ui-font-size-normal;
		margin:0;
		border:0 none;
		display: block;
		background-color:transparent;
		input,select{
			border:0 none;
			background-color:transparent;
		}

		//buttoned elements
		&.button,
		&.select select,
		&.checkbox label,
		&.checkbox .label{
			.ui-button-template(@foreground,@background);
			&.disabled{
				opacity: .25;
				pointer-events:none;
			}
		}
		//remove stuff
		&.button,
		&.select select,
		&.input input,
		&.checkbox label,
		&.checkbox .label{
			display: block;
			border:0 none;
			padding:@ui-element-padding;
			text-align: center;
			i{
				padding:0 !important;
			}
		}

		//overrides
		&.select{
			display: table;
			width:100%;
			position: relative;
			padding:0;
			.label,
			label,
			select{
				display: table-cell;
			}
			.label,
			label{
				padding:@ui-element-padding;
				text-transform: uppercase;
				font-size: (@ui-font-size-small)-2;
				white-space: nowrap;
				width:1%;
				font-weight: bold;
				color:@background;
				//background:@background-dark;
				color:@background-dark;
				//text-decoration: underline;
				opacity: 1;
				&:after{
					content: "\f0da";
					font-family: FontAwesome;
					padding-left:4px;
					position: relative;
					top: 0px;
				}
			}
			select{
				width: 100%;
				height: 100%;
				text-align: left;
				padding:@ui-element-padding;
			}
		}
		&.input{
			background:lighten(@background,-10%);
			padding:0;
			i{
				color:@background-dark;
			}
			input{
				color:@foreground;
				background:lighten(@background,-10%);
				&::-webkit-input-placeholder{
					color:@background-dark;
				}
			}
		}
		&.checkbox{
			margin:0;
			padding:0;
			.label,
			label{
				margin:0;
				display: block;
				padding:@ui-element-padding;
				background:transparent;
				&::before{
					color:@background-dark;
				}
			}
		}
	}
	font-size: 0;
	&>.item{
		display: table-cell;
		display: inline-block;
		border:0 none;
		max-width: 300px;
	}
	&>.item:first-child{
		border:0 none;
	}
}