/* Button */

.ui.button{
	.ui-element-margin();
	.ui-button-template();
	display: inline-block;
	vertical-align: middle;
	.ui-element-margin();
	
	&.primary{ .ui-button-template(contrast(@ui-color-primary, hardlight(@ui-color-primary,#555), #fff, 75%), @ui-color-primary) }
	&.secondary{ .ui-button-template(contrast(@ui-color-secondary, hardlight(@ui-color-secondary,#555), #fff, 75%), @ui-color-secondary) }
	&.tertiary{ .ui-button-template(contrast(@ui-color-tertiary, hardlight(@ui-color-tertiary,#555), #fff, 75%), @ui-color-tertiary) }
	
	&.caution{ .ui-button-template(contrast(@ui-color-caution, hardlight(@ui-color-caution,#555), #fff, 75%), @ui-color-caution) }
	&.alert{ .ui-button-template(contrast(@ui-color-alert, hardlight(@ui-color-alert,#555), #fff, 75%), @ui-color-alert) }
	
	&.ok{ .ui-button-template(contrast(@ui-color-ok, hardlight(@ui-color-ok,#555), #fff, 75%), @ui-color-ok) }
	&.good{ .ui-button-template(contrast(@ui-color-good, hardlight(@ui-color-good,#555), #fff, 75%), @ui-color-good) }
	&.mediocre{ .ui-button-template(contrast(@ui-color-mediocre, hardlight(@ui-color-mediocre,#555), #fff, 75%), @ui-color-mediocre) }
	&.bad{ .ui-button-template(contrast(@ui-color-bad, hardlight(@ui-color-bad,#555), #fff, 75%), @ui-color-bad) }

	&.light{ .ui-button-template(contrast(@ui-color-light, hardlight(@ui-color-light,#555), #fff, 75%), @ui-color-light) }
	&.medium{ .ui-button-template(contrast(@ui-color-medium, hardlight(@ui-color-medium,#555), #fff, 75%), @ui-color-medium) }
	&.dark{ .ui-button-template(contrast(@ui-color-dark, hardlight(@ui-color-dark,#555), #fff, 75%), @ui-color-dark) }

}