.ui.calendar{

	.ui-element-margin();
	
	.header{
		text-align: center;
		background-color:@ui-element-action-background-color;
		color:@ui-element-action-color;
		.title{
			display: inline-block;
			text-align: center;
			padding:10px;
			color: @ui-element-action-color;
			cursor: pointer;
			&:hover{
				color:@ui-color-primary;
			}
		}
		.previous,
		.next{
			position: absolute;
			top:0px;
			text-align: center;
			padding-top:10px;
			padding-bottom:10px;
			color: @ui-element-action-color;
			cursor: pointer;
			width: 100%/7;
			border-left:1px solid transparent;
			border-right:1px solid transparent;
			&:hover{
				color:@ui-element-action-color;
				background-color:@ui-element-action-background-color;
				border-left:1px solid @ui-element-action-background-color;
				border-right:1px solid @ui-element-action-background-color;
			}
		}
		.previous{
			left:0px;
		}
		.next{
			right:0px;
		}
	}
	.days{
		border:1px solid @ui-element-action-background-color;
		background-color:@ui-element-background-color;
	}
	.week{
		display: table;
		width: 100%;
		position: relative;
		.day-display,
		.previous-month-day,
		.next-month-day,
		.day{
			position: relative;
			display: table-cell;
			text-align: right;
			padding-top: 100%/7;
			border-collapse: collapse;
			color:@ui-element-action-background-color;
			&.today{
				color:@ui-element-action-color;
				background-color:@ui-element-action-background-color;
			}
			.date{
				position: absolute;
				top:50%;
				line-height: 0;
				left:0px;
				right: 0px;
				padding:5px;
				padding-top: 0px;
				padding-bottom: 0px;
				text-align: center;
			}

		}
		.day-display{
			.date{
				text-align: center;
			}
		}
		.clickable{
			cursor: pointer;
			&:hover{
				color:darken(@ui-element-color,10%);
				background-color:darken(@ui-element-background-color,10%);
			}
		}
		.day+.day{
			border-left:1px solid @ui-element-action-background-color;
		}
	}
	.week+.week{
		border-top:1px solid @ui-element-action-background-color;
	}
 
}