/*Checkbox*/
.ui.checkbox{
	cursor: pointer; 
	vertical-align: bottom;
	.ui-element-margin();

	input[type="checkbox"]{
		visibility: hidden;
		position: absolute;
	}
	&:focus{
		.ui-focus();
	}
	label,
	.label{
		display: block;
		position: relative;
		.ui-user-select(none);
		padding:10px;
		padding-left: 30px;
		cursor: pointer; 
		//min-height: 35px;
	}

	input ~ label:after{
		content:'\f00c';
		font-family: FontAwesome; 
		position: absolute;
		top:10px;
		margin-top: -2px;
		left:0px;
		width:20px;
		height: 20px;
		background-color:@ui-element-action-background-color;
		color:@ui-element-action-color;
		.ui-border-frame(@ui-element-action-background-color, @ui-element-action-border-intensity);
		font-size: 0px;
		.transition(~".1s"); 
		text-align: center;
		line-height: 19px;
	}

	input:checked ~ label:after{
		content:'\f00c';
		font-size: @ui-font-size-normal;
	}

	&.no-label{
		display: inline-block;
		label,
		.label{
			padding:0px;
			padding-top:10px;
			padding-bottom:10px;
			width:20px;
			height:40px;
		}
		input ~ label:after{
			top:10px;
			margin:0px;
		}
	}

}