.ui.form{
	&::after{
		content: '';
		display: block;
		clear:both;
	}
	.row{
		clear: both;
		vertical-align:bottom;
		max-width: 100%;
	}
	.row .row{
		margin:0px;
	}

	.row.align-top [class*='col-'],
	.row [class*='col-'].align-top{
		vertical-align: top;
	}
	.row.align-middle [class*='col-'],
	.row [class*='col-'].align-middle{
		vertical-align: middle;
	}
	.row.align-bottom [class*='col-'],
	.row [class*='col-'].align-bottom{
		vertical-align: bottom;
	}
	.row.align-left [class*='col-'],
	.row [class*='col-'].align-left{
		text-align: left;
	}
	.row.align-right [class*='col-'],
	.row [class*='col-'].align-right{
		text-align: right;
	}
	.row.align-center [class*='col-'],
	.row [class*='col-'].align-center{
		text-align: center;
	}

	&.large{


		[class*='col-'] {
			padding-left: 20px;
			box-sizing:border-box;
			display:inline-block;
			vertical-align:bottom;
			//float: left;
		}

		&.collapse [class*='col-'] {
			padding-left: 0px;
		}

		&.clear{
			clear: both;
		}
 
		div[class*='col-']:first-child {
			padding-left: 0px;
		}
		div[class*='col-']:first {
			padding-left: 0px;
		}

		.row,
		.grid {
			width: 100%;
			margin: 0 auto;
			font-size: 0px;
			overflow: hidden;
			box-sizing:border-box;
		}

		.row:after,
		.grid:after { 
			content: "";
			display: table-cell;
			clear: both;
		}

		.grid-pad {
			padding: @ui-element-padding;
		}

		.grid-pad > [class*='col-']:first-of-type:not(.col-1-1) {
			padding-left: 20px;
		}

		.push-right {
			float: right; 
		}

		/* Content Columns */
		.col-12-12, 
		.col-1-1 {
			width: 100%;
			padding-right: 0px;
			padding-left: 0px;
			display:block;
		}
		.col-2-3, .col-8-12 {
			width: 66.66%;
		}

		.col-1-2, .col-6-12 {
			width: 50%;
		}

		.col-1-3, .col-4-12 {
			width: 33.33%;
		}

		.col-1-4, .col-3-12 {
			width: 25%;
		}

		.col-1-5 {
			width: 20%;
		}

		.col-1-6, .col-2-12 {
			width: 16.667%;
		}

		.col-1-7 {
			width: 14.28%;
		}

		.col-1-8 {
			width: 12.5%;
		}

		.col-1-9 {
			width: 11.1%;
		}

		.col-1-10 {
			width: 10%;
		}

		.col-1-11 {
			width: 9.09%;
		}

		.col-1-12 {
			width: 8.33%
		}

		/* Layout Columns */

		.col-11-12 {
			width: 91.66%
		}

		.col-10-12 {
			width: 83.333%;
		}

		.col-9-12 {
			width: 75%;
		}

		.col-5-12 {
			width: 41.66%;
		}

		.col-7-12 {
			width: 58.33%
		}


		.col-1-1+*[class*="col-"],
		.col-12-12+*[class*="col-"]{
			padding-left:0px;
		}
	}

}