/* Input */
.ui.input{
	position: relative; 
	.ui-element-margin();
	input{
		-webkit-appearance: none;
		background-color: @ui-element-background-color;
		color:@ui-element-color;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		box-sizing:border-box;
		display: block;
		width:100%;
		margin:0px;
		.ui-border-frame(@ui-element-background-color);
		.ui-element-padding();
		padding-top:@ui-element-padding - 2;
		padding-bottom:@ui-element-padding - 2;
		line-height:1;
		font:@ui-font;
		&:focus{
			.ui-focus();
		}

		&::-webkit-input-placeholder{ color:lighten(@ui-element-color,@ui-element-placeholder-intensity) }
		&::-moz-input-placeholder{ color:lighten(@ui-element-color,@ui-element-placeholder-intensity) }
		&::-ms-input-placeholder{ color:lighten(@ui-element-color,@ui-element-placeholder-intensity) }
		&::input-placeholder{ color:lighten(@ui-element-color,@ui-element-placeholder-intensity) }

		&::-ms-clear {
		    display: none;
		}
	}
	textarea{
		margin:0px;
		-webkit-appearance: none;
		background-color: @ui-element-background-color;
		color:@ui-element-color;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		box-sizing:border-box;
		display: block;
		width:100%;
		min-height: 100px;
		.ui-border-frame(@ui-element-background-color);
		.ui-element-padding();
		font:@ui-font;
		&:focus{
			.ui-focus();
		}
		resize: vertical;


		&::-webkit-input-placeholder{ color:lighten(@ui-element-color,@ui-element-placeholder-intensity) }
		&::-moz-input-placeholder{ color:lighten(@ui-element-color,@ui-element-placeholder-intensity) }
		&::-ms-input-placeholder{ color:lighten(@ui-element-color,@ui-element-placeholder-intensity) }
		&::input-placeholder{ color:lighten(@ui-element-color,@ui-element-placeholder-intensity) }
	}

	&.icon-left,
	&.icon-right{
		i{
			position: absolute;
			bottom:0px;
			display: inline-block;
			padding:@ui-element-padding;
			padding-top:@ui-element-padding + 2;
			padding-bottom:@ui-element-padding + 2;
			pointer-events:none;
		}
	}
	&.icon-left{
		i{
			left:0px;
		}
		input{
			padding-left: @ui-element-padding*3;
		}
	}
	&.icon-right{
		i{
			right:0px;
		}
		input{
			padding-right: @ui-element-padding*3;
		}
	}

}

body.webkit .ui.input{
	input{
		padding-top:@ui-element-padding - 1;
	}
}

body.msie .ui.input{
	input{
		padding-top:@ui-element-padding + 1;
		padding-bottom:@ui-element-padding - 3;
		line-height:1;
	}
}


