.ui.label{
	display: block;
	padding-top: @ui-element-padding;
	padding-bottom: @ui-element-padding;

	.accessory-right{
		float: right;
		margin-top: -10px;

		.ui.button.small{
			margin-top: 5px;
		}
	}
}

.ui.cell>.ui.label{
	padding-bottom: 0px;
}