.ui.list{
	display: block;
	.ui-element-margin();

	.ui.button{
		.ui-button-template(@ui-element-color, @ui-element-background-color);
		display: block;
		margin:0px;
	}
	.ui.button+.ui.button{
		border-top:0px;
	}

	.ui.button.active{
		background-color:darken(@ui-element-background-color,15%);
	}

	&.align-left{
		.ui.button{
			text-align: left;
		}
	}
	&.align-right{
		.ui.button{
			text-align: right;
		}
	}

}