/*Checkbox*/
.ui.radio{
	cursor: pointer; 
	input[type="radio"]{
		visibility: hidden;
		position: absolute;
	}
	&:focus{
		.ui-focus();
	}
	label,
	.label{
		display: block;
		position: relative;
		.ui-user-select(none);
		padding:10px;
		padding-left: 30px;
		cursor: pointer; 
	}

	input ~ label:after{
		content:'\f111';
		font-family: FontAwesome; 
		position: absolute;
		top:10px;
		margin-top: -2px;
		left:0px;
		width:20px;
		height: 20px;
		border-radius: 20px;
		background-color:@ui-element-action-background-color;
		color:@ui-element-action-color;
		.ui-border-frame(@ui-element-action-background-color, @ui-element-action-border-intensity);
		font-size: 0px;
		.transition(~".1s"); 
		text-align: center;
		line-height: 19px;
	}

	input:checked ~ label:after{
		font-size: @ui-font-size-normal;
	}

	&.no-label{
		display: inline-block;
		label,
		.label{
			padding:0px;
			width:20px;
			height: 20px;
		}
		input ~ label:after{
			top:0px;
			margin:0px;
		}
	}

}