.ui.rich-text{
	position: relative;
    .ui-element-margin();
	.edit-region{
		position: relative;
		min-height: 100px;
		.ui-border-frame();
		background-color: @ui-element-background-color;
		padding:@ui-element-padding;
		&:focus{
			.ui-focus();
		}

        p{
            margin-top: 0px;
        }

	}

}



.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: " ";
    font-size: 0;
}

@-webkit-keyframes pop-upwards {
    0% {
        -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -moz-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -ms-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -o-transform: matrix(0.97, 0, 0, 1, 0, 12);
        transform: matrix(0.97, 0, 0, 1, 0, 12);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }

    20% {
        -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -moz-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -ms-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -o-transform: matrix(0.99, 0, 0, 1, 0, 2);
        transform: matrix(0.99, 0, 0, 1, 0, 2);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
    }

    40% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
        -moz-transform: matrix(1, 0, 0, 1, 0, -1);
        -ms-transform: matrix(1, 0, 0, 1, 0, -1);
        -o-transform: matrix(1, 0, 0, 1, 0, -1);
        transform: matrix(1, 0, 0, 1, 0, -1);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    70% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    100% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
}

@-moz-keyframes pop-upwards {
    0% {
        -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -moz-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -ms-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -o-transform: matrix(0.97, 0, 0, 1, 0, 12);
        transform: matrix(0.97, 0, 0, 1, 0, 12);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }

    20% {
        -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -moz-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -ms-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -o-transform: matrix(0.99, 0, 0, 1, 0, 2);
        transform: matrix(0.99, 0, 0, 1, 0, 2);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
    }

    40% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
        -moz-transform: matrix(1, 0, 0, 1, 0, -1);
        -ms-transform: matrix(1, 0, 0, 1, 0, -1);
        -o-transform: matrix(1, 0, 0, 1, 0, -1);
        transform: matrix(1, 0, 0, 1, 0, -1);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    70% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    100% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
}

@-o-keyframes pop-upwards {
    0% {
        -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -moz-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -ms-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -o-transform: matrix(0.97, 0, 0, 1, 0, 12);
        transform: matrix(0.97, 0, 0, 1, 0, 12);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }

    20% {
        -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -moz-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -ms-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -o-transform: matrix(0.99, 0, 0, 1, 0, 2);
        transform: matrix(0.99, 0, 0, 1, 0, 2);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
    }

    40% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
        -moz-transform: matrix(1, 0, 0, 1, 0, -1);
        -ms-transform: matrix(1, 0, 0, 1, 0, -1);
        -o-transform: matrix(1, 0, 0, 1, 0, -1);
        transform: matrix(1, 0, 0, 1, 0, -1);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    70% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    100% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
}

@keyframes pop-upwards {
    0% {
        -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -moz-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -ms-transform: matrix(0.97, 0, 0, 1, 0, 12);
        -o-transform: matrix(0.97, 0, 0, 1, 0, 12);
        transform: matrix(0.97, 0, 0, 1, 0, 12);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }

    20% {
        -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -moz-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -ms-transform: matrix(0.99, 0, 0, 1, 0, 2);
        -o-transform: matrix(0.99, 0, 0, 1, 0, 2);
        transform: matrix(0.99, 0, 0, 1, 0, 2);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
    }

    40% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
        -moz-transform: matrix(1, 0, 0, 1, 0, -1);
        -ms-transform: matrix(1, 0, 0, 1, 0, -1);
        -o-transform: matrix(1, 0, 0, 1, 0, -1);
        transform: matrix(1, 0, 0, 1, 0, -1);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    70% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    100% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
}

.medium-toolbar-arrow-under:after {
    top: 50px;
    border-color: @ui-color-primary transparent transparent transparent;
}

.medium-toolbar-arrow-over:before {
    top: -8px;
    border-color: transparent transparent @ui-color-primary transparent;
}

.medium-editor-toolbar {
    border: 0 none;
    background-color: #242424;
    background-color:@ui-color-primary;
    -webkit-transition: top 0.075s ease-out,left 0.075s ease-out;
    -moz-transition: top 0.075s ease-out,left 0.075s ease-out;
    -o-transition: top 0.075s ease-out,left 0.075s ease-out;
    transition: top 0.075s ease-out,left 0.075s ease-out;
}

.medium-editor-toolbar li button {
    min-width: 50px;
    height: 50px;
    border: 0;
	background-color:@ui-color-primary;
    color: @ui-element-action-color;
}

.medium-editor-toolbar li button:hover {
    .ui-button-hover(@ui-element-action-color,@ui-color-primary);
}

.medium-editor-toolbar li .medium-editor-button-first {
    
}

.medium-editor-toolbar li .medium-editor-button-last {
    
}

.medium-editor-toolbar li .medium-editor-button-active {
    background-color:darken(@ui-color-primary,15%);
}

.medium-editor-toolbar-form-anchor {
    background: #242424;
    color: #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.medium-editor-toolbar-form-anchor input {
    height: 50px;
    background-color:@ui-color-primary;
    color: @ui-element-action-color;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.medium-editor-toolbar-form-anchor a {
    color: #fff;
}

.medium-editor-toolbar-anchor-preview {
    background-color:@ui-color-primary;
    color: @ui-element-action-color;
}

.medium-editor-placeholder:after {
    color: #b3b3b1;
}
