.ui.select{
	display: block;
	.ui-element-margin();
	select{
		-webkit-appearance: none;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		margin:0px;
		.ui-button-template(@ui-element-color, @ui-element-background-color);
		.ui-border-frame( @ui-element-background-color,@ui-element-border-intensity);
		.ui-element-padding();
		padding-top: @ui-element-padding;
		padding-bottom: @ui-element-padding ;
		padding-right: @ui-element-padding;
		text-align: left;
		width: 100%; 

		&:focus{
			.ui-focus();
		}
	}
}

body.webkit .ui.select{
	&::after{
		content:'\f107';
		font-family:FontAwesome;
		position: absolute;
		bottom:@ui-element-padding + 1;
		right:@ui-element-padding;
		pointer-events:none;
	}
	select{
		padding-top: @ui-element-padding - 1;
		padding-bottom: @ui-element-padding - 1;
	}
}

body.mozilla .ui.select{
	select{
		padding-top: @ui-element-padding - 3;
		padding-bottom: @ui-element-padding - 3;
	}
}

body.msie .ui.select{
	select{
		padding-top: @ui-element-padding;
		padding-bottom: @ui-element-padding - 4;
	}
}
