.ui.slider{
	.ui-element-margin();
	.track{
		overflow: hidden;
		.ui-border-frame(@ui-element-background-color);
		background-color:@ui-element-background-color;
		height: 20px;
		.step{
			height: 20px;
			position: absolute;
			top:0px;
		}
		.step:nth-child(even){
			background-color:saturate(darken(@ui-element-background-color,2.5%), 1%);
		}
	}
	.thumb-container{
		position: relative;
		height: 20px;
		margin-left: 9px;
		margin-right: 9px;

	}
	.thumb{
		.ui-button-template(@ui-element-action-background-color,@ui-element-action-background-color);
		padding:0;
		margin:0;
		border:0 none;
		background-color:@ui-element-action-background-color;
		width:18px;
		height:18px;
		min-width:0;
		position: absolute;
		top:0px;
		left:75%;
		margin-left:-9px;
	}

}