.ui.switch{
	display: block;
	.ui-element-margin();

	.ui.button{
		display: block;
		margin:0px;
	}
	.ui.button+.ui.button{
		border-top-width:0px;
	}

	.ui.button.active{
	//	background-color:darken(@ui-element-action-background-color,15%);
	}

	&.force-horizontal,
	&.horizontal{
		.ui.button{
			//.ui-border-frame(@ui-element-action-background-color);
			border-top-width:1px;
			display: inline-block;
		}
		.ui.button+.ui.button{
			border-top-width:1px;
			//.ui-border-frame(@ui-element-action-background-color);
			border-left:0px;
		}
	}

}