.ui.tabs{
	margin-top:@ui-element-padding;
	@selected-color:@ui-color-primary;
	@selected-background:@ui-color-light;

	.ui-border-frame();
	border-left:0 none;
	border-right:0 none;
	// .label{
	// 	margin:0;
	// 	font-size: @ui-font-size-small;
	// 	text-transform: uppercase;
	// 	color:#000;
	// 	font-weight: bold;
	// }
	.tab-buttons{
		font-size: 0;
		&>.button{
			margin:0;
			padding:@ui-element-padding;
			border:0 none;
			border-top: 3px solid transparent;
			color:lighten(@ui-color,20%);
			background-color: transparent;
		}
		&>.active{
			border-top-color:@ui-element-action-background-color;
			color:@ui-color;
		}
	}

	.tab-content{
		padding-top: @ui-element-padding*2;
		padding-bottom: @ui-element-padding*2;
		&>div{
			display: none;
		}
		&>div.active{
			display: block;
		}
	}

	.items{
		@background:@ui-color-light;
		//.border-frame(@background);
		//.border-frame( desaturate(lighten(@ui-color-primary, 30%),50% ) );
	}
	&>.items>.button{
		line-height: 1;
		font-size: @ui-font-size-small;
		text-align: left;
		margin:0px;
		border-left:0 none;
		border-right:0 none;
		border-top:0 none;
		display: block;
		&:hover{
			color:@selected-color;
			background:desaturate(lighten(@selected-background,50%), 50%);
		}
		&.highlight{
			background:desaturate(lighten(@selected-background,50%), 50%);
		}
		&.active{
			background:@selected-background;
			color:@selected-color;
		}
	}
	&>.items>*:last-child{
		border-bottom: 0 none;
	}
}