.ui.toolbar{

	@background:@ui-color-secondary;

	@foreground:contrast(@background, #000, #fff, 80%);
	@background-dark:contrast(@background, desaturate(darken(@background,40%),20%), desaturate(darken(@background,-50%),40%), 80%);


	width:100%;
	background:@background;
	.ui-border-frame(@background);

	&>.item{
		.ui-border-frame(@background);
		display: block;
		vertical-align: middle;
		margin:0;
		border-left: 0 none;
		border-right: 0 none;
		border-bottom: 0 none;
		padding:0px;
		&.right{ float:none !important; }
		&.left{ float:none !important; }
	}
	&>.item:first-child{
		border:0 none;
	}



	&>.item>*{
		font-size: @ui-font-size-normal;
		margin:0;
		border:0 none;
		display: block;
		background-color:transparent;
		padding:@ui-element-padding;
		input,select{
			border:0 none;
			background-color:transparent;
		}

		//buttoned elements
		&.button,
		&.select select,
		&.checkbox label,
		&.checkbox .label{
			.ui-button-template(@foreground,@background);
		}
		//remove stuff
		&.button,
		&.select select,
		&.input input,
		&.checkbox label,
		&.checkbox .label{
			display: block;
			border:0 none;
		}

		//overrides
		&.select{
			display: table;
			width:100%;
			position: relative;
			padding:0;
			.label,
			label,
			select{
				display: table-cell;
			}
			.label,
			label{
				padding:@ui-element-padding;
				text-transform: uppercase;
				font-size: (@ui-font-size-small)-2;
				white-space: nowrap;
				width:1%;
				font-weight: bold;
				color:@background;
				//background:@background-dark;
				color:@background-dark;
				//text-decoration: underline;
				opacity: 1;
				&:after{
					content: "\f0da";
					font-family: FontAwesome;
					padding-left:4px;
					position: relative;
					top: 0px;
				}
			}
			select{
				width: 100%;
				height: 100%;
				text-align: left;
				padding:@ui-element-padding;
			}
		}
		&.input{
			background:lighten(@background,-10%);
			padding:0;
			i{
				color:@background-dark;
			}
			input{
				color:@foreground;
				background:lighten(@background,-10%);
				&::-webkit-input-placeholder{
					color:@background-dark;
				}
			}
		}
		&.checkbox{
			margin:0;
			padding:0;
			.label,
			label{
				margin:0;
				display: block;
				padding:@ui-element-padding;
				background:transparent;
				&::before{
					color:@background-dark;
				}
			}
		}



	}

	&.medium{
		font-size: 0;
		&>.item{
			display: table-cell;
			display: inline-block;
			border:1px solid #fff;
			.ui-border-frame(@background);
			border-top: 0 none;
			border-right: 0 none;
			border-bottom: 0 none;
			max-width: 300px;
		}
		&>.item:first-child{
			border:0 none;
		}

	}
	&.large{
		&>.item{
			&.right{ float:right !important; }
			&.left{ float:left !important; }
		}
	}

}

.ui.toolbar.micro{

	@background:@ui-color-tertiary;
	@background:@ui-color-primary;
	@background:@ui-color-medium;

	@foreground:contrast(@background, @ui-color, #fff, 80%);
	@background-dark:contrast(@background, desaturate(darken(@background,40%),20%), desaturate(darken(@background,-50%),40%), 80%);


	width:100%;
	background:@background;
	border:0 none;
	padding-left: @ui-element-padding;


	&>.item{
		.ui-border-frame(@background);
		display: block;
		vertical-align: middle;
		margin:0;
		border-left: 0 none;
		border-right: 0 none;
		border-bottom: 0 none;
		padding:0px;
		&.right{ float:none !important; }
		&.left{ float:none !important; }
	}
	&>.item:first-child{
		border:0 none;
	}



	&>.item>*{
		font-size: @ui-font-size-normal;
		margin:0;
		border:0 none;
		display: block;
		background-color:transparent;
		input,select{
			border:0 none;
			background-color:transparent;
		}

		//buttoned elements
		&.button,
		&.select select,
		&.checkbox label,
		&.checkbox .label{
			.ui-button-template(@foreground,@background);
			&.disabled{
				opacity: .25;
				pointer-events:none;
			}
		}
		//remove stuff
		&.button,
		&.select select,
		&.input input,
		&.checkbox label,
		&.checkbox .label{
			display: block;
			border:0 none;
			padding:@ui-element-padding;
			text-align: center;
			i{
				padding:0 !important;
			}
		}

		//overrides
		&.select{
			display: table;
			width:100%;
			position: relative;
			padding:0;
			.label,
			label,
			select{
				display: table-cell;
			}
			.label,
			label{
				padding:@ui-element-padding;
				text-transform: uppercase;
				font-size: (@ui-font-size-small)-2;
				white-space: nowrap;
				width:1%;
				font-weight: bold;
				color:@background;
				//background:@background-dark;
				color:@background-dark;
				//text-decoration: underline;
				opacity: 1;
				&:after{
					content: "\f0da";
					font-family: FontAwesome;
					padding-left:4px;
					position: relative;
					top: 0px;
				}
			}
			select{
				width: 100%;
				height: 100%;
				text-align: left;
				padding:@ui-element-padding;
			}
		}
		&.input{
			background:lighten(@background,-10%);
			padding:0;
			i{
				color:@background-dark;
			}
			input{
				color:@foreground;
				background:lighten(@background,-10%);
				&::-webkit-input-placeholder{
					color:@background-dark;
				}
			}
		}
		&.checkbox{
			margin:0;
			padding:0;
			.label,
			label{
				margin:0;
				display: block;
				padding:@ui-element-padding;
				background:transparent;
				&::before{
					color:@background-dark;
				}
			}
		}
	}
	font-size: 0;
	&>.item{
		display: table-cell;
		display: inline-block;
		border:0 none;
		max-width: 300px;
	}
	&>.item:first-child{
		border:0 none;
	}
}